#trigger-nextup {
    background: black;
    position: fixed;
    z-index: 9999;
    top: 50px;
    right: 25px;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}
.popupContainer-nextup {
    background: black;
    position: fixed;
    z-index: 9999;
    bottom: 50px;
    right: 25px;
    border-radius: 5px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-family: sans-serif;
}
.popupNoData-nextup {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupItem-nextup {
    position: relative;
}
.popupDelete {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(45, 45, 45);
    color: white;
}
.popupClose-nextup {
    position: absolute;
    top: -30px;
    right: 10px;
    width: 25px;
    height: 25px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}